{% extends 'ReviewBundle:StudentDashboard:dashboard.html.twig' %}
{% block title%}
    STUDENT DASHBOARD
{% endblock %}

{% block modulesList %}
<ul class="review-list">
    {% for module in modules %}
        <li class="review">
            <a href="{{ url('student_dashboard', {'moduleId': module.id })}}">
                <div class="font-weight-bold"> {{ module.subject }}</div>
                <div> {{ module.teacher }} </div>
            </a>
        </li>
    {% else %}
        <li>No feedback yet ! Be the first to feedback ! (Nah you can't because students did'nt worked enough !)</li>
    {% endfor %}

</ul>
{% endblock %}
{% block moduleDetail %}
    {% if(module != null) %}
        <img class="rounded-circle detail-image" src="http://placehold.it/200x200"/>
        <h4> {{ module.subject }} </h4>
        <h5> {{ module.teacher }}</h5>
        <div> Du : 10/07/07 </div>
        <div> Au : 17/07:07 </div>
    {% endif %}
{% endblock %}

{% block review %}
    {% if(review != null) %}
        {% include 'ReviewBundle:StudentDashboard:review.html.twig' %}
    {% endif %}

    {% if module != null and review == null %}
        {% form_theme form 'bootstrap_3_layout.html.twig' 'ReviewBundle:Form:custom_form_layout.html.twig'  %}
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <h4>L'intervenant : </h4>
                {{ form_row(form.teacherRate) }}
                {{ form_row(form.teacherReview) }}
                <h4> Le cours : </h4>
                {{ form_row(form.classRate) }}
                {{ form_row(form.classReview) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    {% endblock %}

