<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Outils d'administration </a>
    <div class="dropdown-menu .dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ url('admin_review_index') }}"> MODERATION </a>
        <a class="dropdown-item" href="{{ url('admin_students_index') }}">ETUDIANTS </a>
        <a class="dropdown-item" href="{{ url('admin_teachers_index') }}">PROFESSEURS </a>
        <a class="dropdown-item" href="{{ url('admin_modules_index') }}">MODULES </a>
        <a class="dropdown-item" href="{{ url('approbation_index') }}">APPROBATIONS </a>
    </div>
</li>