{% extends 'base.html.twig' %}
{% block title %}LISTE DES MODULES{% endblock %}
{% block body %}
    <h1>{{ block('title') }}</h1>
    <div>
        <a class="btn btn-default btn-block btn-lg btn-pink"  href="{{ path('admin_modules_new') }}">CREER UN MODULE</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CLASSE</th>
                <th>PROFESSEUR</th>
                <th>MATIERE</th>
                <th>AFFICHER</th>
                <th>MODIFIER</th>
            </tr>
        </thead>
        <tbody class="table-striped">
        {% for module in modules %}
            <tr>
                <td><a href="{{ path('admin_modules_show', { 'id': module.id }) }}">{{ module.id }}</a></td>
                <td>{{ module.division }}</td>
                <td>{{ module.teacher }}</td>
                <td>{{ module.subject }}</td>
                <td>
                    <a class="btn btn-default btn-green" href="{{ path('admin_modules_show', { 'id': module.id }) }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-default btn-pink" href="{{ path('admin_modules_edit', { 'id': module.id }) }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
