{% extends 'base.html.twig' %}

{% block body %}
    <h1>LISTE DES ETUDIANTS</h1>
    <div>
        <a class="btn btn-default btn-block btn-lg btn-pink" href="{{ path('admin_students_new') }}"> CREER UN {% block type %}{% endblock %} </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NOM</th>
                <th>PRENOM</th>
                {% block more_headers %}
                 {% endblock %}
                <th>SHOW</th>
                <th>EDIT</th>
            </tr>
        </thead>
        <tbody class="table-striped">
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_students_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                {% block more_values %}
                {% endblock %}
                <td>
                    <a class="btn btn-default btn-green" href="{% block show_path %}{{ path('admin_students_show', { 'id': user.id }) }}{% endblock %}">SHOW</a>
                </td>
                <td>
                    <a class="btn btn-default btn-pink" href="{% block edit_path %}{{ path('admin_students_edit', { 'id': user.id }) }}{% endblock %}">EDIT</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
