{% extends 'base.html.twig' %}
{% block title %}CREATION D'UN {% block type %}{% endblock %}{% endblock %}
{% block body %}
    <div class="col-md-6 margin-centered">
        <h1>{{ block('title') }}</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            {#<input type="submit" value="Create" />#}
        {{ form_end(form) }}

        <div>
                <a class="btn btn-default btn-block btn-lg btn-grey" href="{{ path('admin_students_index') }}">RETOURNER A LA LISTE</a>
        </div>
    </div>
{% endblock %}
