{% extends 'base.html.twig' %}
{% block title %} LISTE DES AVIS {% endblock %}
{% block body %}
    <h1>{{ 'Liste des avis'|upper }}</h1>
    <ul class="review-list">
        {% for review in reviews %}
            <li class="review">
                <a href="{{ url('review_detail', {'controllerIndex': review.id })}}">
                    <div> {{ review }} </div>
                    <div class="icon">{{ review.classStars }}</div>
                    <div class="icon"> {{ review.teacherStars }} </div>
                </a>
            </li>
        {% else %}
            <li>No feedback yet ! Be the first to feedback ! (Nah you can't because students did'nt worked enough !)</li>
        {% endfor %}
    </ul>
{% endblock %}