{% if not anonymous %}
    <h3>Commentaire de {{ review.sender }}</h3>
{% endif %}

<h4> L'intervenant :</h4>
<div>
    <span class="font-italic">Note : </span>
    <span class="icon yellow-text"> {{ review.teacherStars }} </span>
</div>
<div>
    <div class="font-italic" > Commentaire:  </div>
    <span> {{ review.teacherReview }}</span>
</div>
<h4> Le cours : </h4>
<div>
    <span class="font-italic">Note : </span>
    <span class="icon yellow-text"> {{ review.classStars }} </span>
</div>
<div>
    <div class="font-italic" > Commentaire:  </div>
    <span> {{ review.classReview }}</span>
</div>