{% extends 'base.html.twig' %}
{% block title %}LISTE DES FEEDBACKS{% endblock %}
{% block body %}
    <h1>{{ block('title') }}</h1>

    <div>
        <a class="btn btn-default btn-block btn-lg btn-pink"  href="{{ path('admin_review_new') }}">
            <span class="fa fa-plus"></span> CREER UN FEEDBACK</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NOTE [PROF]</th>
                <th>COMMENTAIRE [PROF]</th>
                <th>NOTE [CLASSE] </th>
                <th>COMENTAIRE [CLASSE]</th>
                <th>MODULE</th>
                <th>AUTEUR</th>
                <th>AFFICHER</th>
                <th>MODIFIER</th>
            </tr>
        </thead>
        <tbody class="table-striped">
        {% for review in reviews %}
            <tr>
                <td><a href="{{ path('admin_review_show', { 'id': review.id }) }}">{{ review.id }}</a></td>
                <td>{{ review.teacherRate }}</td>
                <td>{{ review.teacherReview }}</td>
                <td>{{ review.classRate }}</td>
                <td>{{ review.classReview }}</td>
                <td>{{ review.module }}</td>
                <td>{{ review.sender }}</td>
                <td>
                    <a class="btn btn-default btn-green" href="{{ path('admin_review_show', { 'id': review.id }) }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-default btn-pink" href="{{ path('admin_review_edit', { 'id': review.id }) }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
