{% extends 'base.html.twig' %}
{% block title %}CREER UN FEEDBACK{% endblock %}
{% block body %}
    <h1>{{ block('title') }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div>
        <a class="btn btn-default btn-block btn-lg btn-grey" href="{{ path('admin_review_index') }}">RETOURNER A LA LISTE</a>
    </div>
{% endblock %}
